@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 199 199;
    --foreground: 17 17 17;

    --card: 255 255 255;
    --card-foreground: 17 17 17;

    --popover: 255 255 255;
    --popover-foreground: 17 17 17;

    --primary: 29 67 86;
    --primary-foreground: 255 255 255;

    --secondary: 255 255 255;
    --secondary-foreground: 29 67 86;

    --muted: 230 230 230;
    --muted-foreground: 17 17 17;

    --accent: 211 84 79;
    --accent-foreground: 255 255 255;

    --destructive: 211 84 79;
    --destructive-foreground: 255 255 255;

    --border: 210 210 210;
    --input: 210 210 210;
    --ring: 29 67 86;

    --radius: 0.5rem;

    --sidebar-background: 255 255 255;

    --sidebar-foreground: 17 17 17;

    --sidebar-primary: 29 67 86;

    --sidebar-primary-foreground: 255 255 255;

    --sidebar-accent: 199 199 199;

    --sidebar-accent-foreground: 17 17 17;

    --sidebar-border: 210 210 210;

    --sidebar-ring: 29 67 86;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Roboto", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
}
